@import "tailwindcss";

@theme {
  --color-navy-950: #012549;
  --color-navy-900: #0a2f5c;
  --color-accent: #0cc1fa;
  --max-width-content: 1500px;
}

@theme inline {
  --font-monument: var(--font-monument);
  --font-gotham: var(--font-gotham);
}

html {
  scroll-behavior: smooth;
}